var commentable_id = "#{@commentable.id}"

- if @comment
  $('.comment-comments-' + commentable_id).html('');
  $('.comment-comments-' + commentable_id).append("#{j render 'comment_comments', comment: @commentable }");
- else
  $('.story-comments-section-' + commentable_id).prepend("#{j render 'comment', comment: @commentable.comments.last }")
$('textarea').val('');