%nav.navbar.navbar-expand-lg.navbar-light.justify-content-between.bg-light
  %a.navbar-brand{href: '/'} Storify

  %form.form-inline
    - if user_signed_in?
      =link_to 'Logout', destroy_user_session_path, method: :delete
    - else
      =link_to 'Sign in', new_user_session_path
